.card-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 9px;
  box-shadow: 0 0 5px black;
}

.card-padding {
  padding: var(--card-padding, 1.5em);
}
