<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{'INSTRUCTIONS.window_title' | translate}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" default-href="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="dark">
    <h1>{{'INSTRUCTIONS.title_how_to_play' | translate}}</h1>
    {{'INSTRUCTIONS.text_how_to_play' | translate}}
  </ion-text>

  <br />
  <br />
  <ion-accordion-group>
    <!-- Rules -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>
          <h1>
            {{'INSTRUCTIONS.title_rules' | translate | uppercase}}
          </h1>
        </ion-label>
      </ion-item>
      <ion-text color="dark" slot="content">
        <ol>
          <li *ngFor="let i of instructionsPoints">
            {{'INSTRUCTIONS.text_instructions_' + i | translate}}
          </li>
        </ol>
      </ion-text>
    </ion-accordion>

    <!-- Notes -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>
          <h1>
            {{'INSTRUCTIONS.title_clarifications' | translate | uppercase}}
          </h1>
        </ion-label>
      </ion-item>
      <ion-text color="medium" slot="content">
        <h3>
          {{'INSTRUCTIONS.subtitle_clarifications' | translate}}
        </h3>
        <ol>
          <li *ngFor="let i of clarificationsPoints">
            {{'INSTRUCTIONS.text_clarifications_' + i | translate}}
          </li>
        </ol>
      </ion-text>
    </ion-accordion>

    <!-- Prizes -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>
          <h1>
            {{'INSTRUCTIONS.PRIZES.title' | translate | uppercase}}
          </h1>
        </ion-label>
      </ion-item>

      <div slot="content">
        <ion-card *ngFor="let prize of prizes">
          <ion-card-header>
            <ion-title>
              {{prize.titleKey| translate | uppercase}}
            </ion-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img [src]="prize.imagePath"></ion-img>

            <ion-text color="medium" class="ion-margin-top" style="display: block;">
              {{prize.textKey | translate}}
            </ion-text>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
