#card-container {
  background-image: url('../../../assets/img/cards/reverso.png');
  background-size: cover;
  width: fit-content;
  margin: auto;
  border-radius: 3vw;

  app-card {
    box-shadow: 0 0 5px white;
    display: block;
  }
}

ion-content {
  --background: url(../../../assets/img/deck-background.jpg) no-repeat center center / cover;
}
