<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      {{"DECK.window_title" | translate | uppercase}}
    </ion-title>

    <!-- Right header button and popover menu -->
    <ion-buttons slot="end">
      <ion-button id="deck-menu-trigger" shape="round">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>

      <ion-popover trigger="deck-menu-trigger" triggerAction="click" dismissOnSelect="true">
        <ng-template>
          <ion-item class="ion-margin-top">
            <ion-label>{{'DECK.label_flip_auto' | translate}}</ion-label>
            <ion-checkbox [checked]="autoflip.isOn" (ionChange)="onChangeAutoflip($event)"></ion-checkbox>
          </ion-item>

          <ion-item class="ion-margin-top">
            <ion-label>{{'DECK.label_show_status' | translate}}</ion-label>
            <ion-checkbox [checked]="showProgress" (ionChange)="showProgress = !showProgress"></ion-checkbox>
          </ion-item>

          <ion-item class="ion-margin-top">
            <ion-label>{{'DECK.label_voice' | translate}}</ion-label>
            <ion-checkbox [checked]="voice" (ionChange)="voice = !voice"></ion-checkbox>
          </ion-item>

          <ion-item class="ion-margin-top" (click)="onClickOnRestart()">
            <ion-label>{{'DECK.label_restart_deck' | translate}}</ion-label>
          </ion-item>

          <ion-item class="ion-margin-top" (click)="onClickOnCheckCard()">
            <ion-label>{{'DECK.label_check_card' | translate}}</ion-label>
          </ion-item>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="card-container"
    [ngStyle]="{'background-image': deckStatus?.remainingCards ? 'url(\'../../assets/img/cards/reverso.png\')' : null}">
    <app-card id="currentCard" [card]="currentCard" (click)="onClickOnCard()" style="z-index: 99999;"></app-card>
  </div>
</ion-content>

<ion-footer>
  <!-- Progress bar -->
  <ion-item *ngIf="showProgress" color="dark" (click)="onClickOnProgressBar()">
    <ion-icon slot="start" name="layers-outline"></ion-icon>
    <ion-progress-bar [value]="deckStatus?.playedCars / deckStatus?.totalCards"></ion-progress-bar>
    <ion-text color="light" slot="end">
      {{deckStatus?.playedCars}}&nbsp;/&nbsp;{{deckStatus?.totalCards}}
    </ion-text>
  </ion-item>

  <!-- Autoflip bar -->
  <ion-item color="dark" *ngIf="autoflip?.isOn">
    <ion-button (click)="pauseAutoflip = !pauseAutoflip" shape="round"
    [color]="pauseAutoflip ? 'primary' : 'warning'" slot="start">
      <ion-icon [name]="pauseAutoflip ? 'play-outline' : 'pause-outline'"></ion-icon>
    </ion-button>
    <ion-progress-bar [value]="autoflip.remainingTime / autoflipTime"></ion-progress-bar>
    <ion-text color="light" slot="end">
      {{autoflip.remainingTime}}&nbsp;s
    </ion-text>
  </ion-item>
</ion-footer>
