<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ 'SETTINGS.window_title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  git remote set-url origin https://elnezah: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@github.com/elnezah/pokino-deck

-->
  <ion-item (click)="onClickOnAutoFlip()">
    <ion-label>
      {{ 'SETTINGS.label_auto_flip' | translate }}
    </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>

  <ion-item (click)="onClickOnLanguages()">
    <ion-label>
      {{ 'SETTINGS.label_language_voice' | translate }}
    </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
</ion-content>
