<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" default-href="/"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{ 'ABOUT.window_title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
       {{ 'ABOUT.text_copyright_pokino' | translate }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ 'ABOUT.text_marca_registrada' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
<ion-card-header>
  <ion-card-subtitle>{{ 'ABOUT.label_app_developer' | translate }}</ion-card-subtitle>
  <ion-card-title>{{ 'ABOUT.text_jose_a_garces' | translate }}</ion-card-title>
</ion-card-header>
  </ion-card>
</ion-content>
