<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" default-href="/"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{ 'ABOUT.window_title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <div id="app-name-block">
    <h1>El Pokino App</h1>
    <div id="app-version-block">
      {{ 'ABOUT.label_version' | translate }} {{ appVersionNumber }} ({{ appVersionCode }})
    </div>
    <div id="app-description">
      {{ 'ABOUT.text_description' | translate }}
    </div>
  </div>

  <!-- Privacy policy block -->
  <div id="privacy-policy-block">
    <h4>
      {{ 'ABOUT.label_privacy_policy' | translate }}
    </h4>

    <div>
      {{ 'ABOUT.text_privacy_policy' | translate }}
    </div>
  </div>

  <!-- Copyright block -->
  <div class="copyright-container">
    <h4>
      {{ 'ABOUT.label_copyright' | translate }}
    </h4>

    <div class="copyright-container">
      {{ 'ABOUT.text_marca_registrada' | translate }}
    </div>

    <div class="copyright-container">
      {{ 'ABOUT.text_copyright_pokino' | translate }}
    </div>
  </div>

  <div id="developer-block">
    <ion-icon name="code-working-outline" size="large"></ion-icon>

    <div>
      {{ 'ABOUT.label_app_developer' | translate }}:
      {{ 'ABOUT.text_jose_a_garces' | translate }}
    </div>
  </div>
</ion-content>
