#app-description {
  white-space: pre-line;
}

.copyright-container {
  margin-top: 1em;
}

#developer-block {
  margin-top: 1em;
  text-align: center;
}

#privacy-policy-block {
  margin-top: 1em;
}

#app-name-block {

  h1 {
    margin-bottom: 0;
  }

  #app-version-block {
    font-size: x-small;
  margin-bottom: 1em;
  }
}
