<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" default-href="/"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{ 'ABOUT.window_title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="ion-no-padding">
    <ion-text color="dark">
      <h1>{{ 'ABOUT.text_copyright_pokino' | translate }}</h1>
      {{ 'ABOUT.text_marca_registrada' | translate }}
    </ion-text>
  </ion-item>

  <ion-item class="ion-no-padding">
    <ion-text color="dark">
      <h1>{{ 'ABOUT.label_app_developer' | translate }}</h1>
      {{ 'ABOUT.text_jose_a_garces' | translate }}
    </ion-text>
  </ion-item>
</ion-content>
