<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menuId="mainSideMenu" type="overlay">
      <ion-content color="dark">
        <ion-list>
          <ion-list-header color="dark">
            {{ 'MENU.title_main_menu' | translate | uppercase }}
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let e of sideMenuEntries">
            <ion-item [routerLink]="e.link" color="dark" class="main-menu-item">
              <ion-icon slot="start" [name]="e.iconName"></ion-icon>
              <ion-label>{{e.textKey | translate | uppercase}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
