<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      {{'SETTINGS.LANGUAGE_VOICE.screen_title' | translate}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="onClickOnClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Languages -->
  <ion-item>
    <ion-label>
      {{'SETTINGS.LANGUAGE_VOICE.app_language' | translate}}
    </ion-label>

    <ion-select [(ngModel)]="userLanguage" interface="popover" (ionChange)="onUserLanguageChange()">
      <ion-select-option *ngFor="let l of appLanguages" [value]="l.code">{{l.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Voices -->
  <ion-item lines="none">
    <ion-label>
      {{'SETTINGS.LANGUAGE_VOICE.app_voice' | translate}}
    </ion-label>

    <ion-select [(ngModel)]="userVoiceType" interface="popover">
      <ion-select-option *ngFor="let v of ttsVoicesForUserLang" [value]="v">{{v}}</ion-select-option>
    </ion-select>

  </ion-item>

  <ion-item lines="none">
    <ion-range min="1" max="10" pin="true" snaps="true" step="1" ticks="true"
      [value]="userVoiceVolume != null ?  userVoiceVolume * 10 : 10" (ionChange)="onVolumeChange($event)">
      <ion-icon name="volume-low" slot="start"></ion-icon>
      <ion-icon name="volume-high" slot="end"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item lines="none">
    <ion-range min="1" max="10" pin="true" snaps="true" step="1" ticks="true"
      [value]="userVoiceSpeed != null ?  userVoiceSpeed * 10 : 10" (ionChange)="onVoiceSpeed($event)">
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-icon name="rocket" slot="end"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item lines="none">
    <ion-range min="1" max="10" pin="true" snaps="true" step="1" ticks="true"
      [value]="userVoicePitch != null ?  userVoicePitch * 10 : 10" (ionChange)="onVoicePitch($event)">
      <ion-icon name="arrow-down" slot="start"></ion-icon>
      <ion-icon name="arrow-up" slot="end"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item>
      <ion-button (click)="onClickOnTestVoice()" shape="round" style="width: 100%;">
        {{'SETTINGS.LANGUAGE_VOICE.button_test_voice' | translate}}
      </ion-button>
  </ion-item>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar style="--background: transparent;">
    <ion-button (click)="onClickOnSave()" expand="block">
      {{'GENERAL.button_save' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
