<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      {{'SETTINGS.LANGUAGE_VOICE.screen_title' | translate}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onClickOnClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      {{'SETTINGS.LANGUAGE_VOICE.app_language' | translate}}
    </ion-label>

    <ion-select [value]="userLanguage" [(ngModel)]="userLanguage" interface="popover">
      <ion-select-option *ngFor="let l of appLanguages" [value]="l.code">{{l.name}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar style="--background: transparent;">
    <ion-button (click)="onClickOnSave()" expand="block">
      {{'GENERAL.button_save' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
