<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      El Pokino
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="primary">
  <div id="card-container"
    [ngStyle]="{'background-image': deckStatus?.remainingCards ? 'url(\'../../assets/img/cards/reverso.png\')' : null}">
    <app-card id="currentCard" [card]="currentCard" (click)="onClickOnCard()" style="z-index: 99999;"></app-card>
  </div>

  <ion-item class="ion-margin-top">
    <ion-label>Flip automatically</ion-label>
    <ion-checkbox (ionChange)="onChangeAutoflip($event)"></ion-checkbox>
  </ion-item>

  <ng-container *ngIf="autoflip.isOn">
    <ion-item>
      <ion-label>Remaining time:</ion-label>
      {{autoflip.remainingTime}}
    </ion-item>

    <ion-item>
      <ion-progress-bar [value]="autoflip.remainingTime / autoflipTime"></ion-progress-bar>
    </ion-item>
  </ng-container>
</ion-content>
