<ion-header [translucent]="true">
  <ion-toolbar color="dark" class="ion-text-uppercase">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      El Pokino App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollX]="false" [scrollY]="false">
  <div id="main-container" class="ion-padding">
    <div>
      <ion-img src="../../assets/img/game_box_transparent.png"></ion-img>
    </div>

    <ion-button routerLink="/deck" expand="block" size="large">
      {{'HOME.button_start_deck' | translate}}
    </ion-button>

    <div id="copiright-label">
      © Copyright 2023 POKINO
    </div>

  </div>
</ion-content>
